
@{
    ViewBag.Title = "Act1U2";
}
<section class="fixed" style="z-index: 97; top: 0; border-bottom: 1px solid #000000ba; "></section>

<section class="page-title page-title2 section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="text-capitalize mb-0 text-lg">Activity 1</h1>
                    <br />
                    <h2>
                        File modifier with an SD module and Node MCU
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div style="padding-top: 30px;display:flex;justify-content:center;">
    <iframe width="650" height="420" style="border: 2px solid #ffd800; box-shadow: 0 0 15px #ffd800; "
            src="https://www.youtube.com/embed/YaJErml7-wg?controls=2&iv_load_policy=3&modestbranding=1&rel=0&showinfo=0&fs=0">
    </iframe>
</div>

<section class="section blog-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="single-post">
                    <img src="images/blog/01.jpg" alt="" class="img-fluid">

                    <div class="single-post-content mt-4">
                        <div class="post-meta mb-4">


                            <span class="date">June 2022</span>
                        </div>

                        <h3>Insert information in a file on a SD card from a Node MCU.</h3>

                        <p>
                            We are going to use the NodeMCU to write information in a file stored in a SD card on a SD module.
                        </p>
                        <h5>Materials required</h5>
                        <ul>
                            <li>Arduino UNO</li>
                            <li>MicroSD module</li>
                            <li>Node MCU</li>
                            <li>Breadbord</li>
                            <li>MicroSD</li>
                        </ul>

                    </div>
                </article>

                <div class="comments bg-secondary p-4 mt-5">
                    <h4 class="mb-4">Functionality</h4>

                    <div class="latest-comments">

                        <p>
                            First we need to connect the Node MCU to the computer and then load the code to search for the file that will be modified.
                            When the code are loaded, we need to open the console on the Arduino IDE and wait for the NodeMCU to find the file in the 
                            SD card inserted in the SD module.
                            <br />
                            When the file is loaded we can write things on the console to write it on the SD card. We can check the results in the modified file.

                        </p>
                        <br />
                        
                        <br />
                        <h4>Schematic</h4>
                        <div style="display:flex;justify-content:center;">
                            <img style="width:30%; padding:10px;border-radius:4px;" src="~/images/a1u2/a1u2-schema.png" alt="Schematic" title="Schematic" />
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>

<section style=" box-shadow: 0px -2px 4px #ffd800; border-bottom: 1px solid #ffd800; "></section>
