
@{
    ViewBag.Title = "Act1U1";
}
<section class="fixed" style="z-index: 97; top: 0; border-bottom: 1px solid #000000ba; "></section>

<section class="page-title page-title1 section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="text-capitalize mb-0 text-lg">
                        Activity 1
                    </h1><br />
                    <h2>
                        Ambient Light Sensor Using Photo Resistor and
                        LED Lights
                    </h2>


                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">

</div>
<section class="section blog-post">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <img src="~/images/a1u1/a1u1-1.png" alt="Presence of light" class="img-blog3" title="Presence of light">
                <img src="~/images/a1u1/a1u1-2.png" alt="Average presence of light" class="img-blog3" title="Average presence of light">
                <img src="~/images/a1u1/a1u1-3.png" alt="Absence of light" class="img-blog3" title="Absence of light">
            </div>
            <div class="col-lg-12">


                <article class="single-post">





                    <div class="single-post-content mt-4">
                        <div class="post-meta mb-4">
                            <span class="date">May 5th 2022</span>
                        </div>

                        <h3>Determine with a photoresistor if the room is bright, average, or dark and showing it with 3 LED’s.</h3>

                        <p>
                            We are going to use the photoresistor (used to indicate the presence or absence of light, or to measure the light intensity) to measure how much light is in a room and show it by turning on some LED’s. If it’s completely dark, it will turn on all the LED’s, if average light, it will
                            turn two of them, and if completely bright, it will turn off everything.
                        </p>
                        <h5>Materials required</h5>
                        <ul>
                            <li>Arduino UNO</li>
                            <li>Photoresistor</li>
                            <li>LED´s</li>
                            <li>1k ohms resistors</li>
                            <li>Jumpers</li>
                        </ul>

                    </div>
                </article>

                <div class="comments bg-secondary p-4 mt-5">
                    <h4 class="mb-4">Functionality</h4>

                    <div class="latest-comments">
         
                        <p>
                            Wait for the photoresistor to receive light, and accordingly to the amount of it received, it will turn on both LED’s if there’s no light and will turn off one or two LED’s if there’s average or too
                            much light respectively.
                        </p>
                        <br />
                        <h4>Code</h4>
                        <div style="display:flex;justify-content:center;">
                            <img style="width:50%; padding:10px;border-radius:4px;" src="~/images/a1u1/a1u1-code.png" alt="Code" title="Code" />
                        </div>
                        <br />
                        <h4>Schematic</h4>
                        <div style="display:flex;justify-content:center;">
                            <img style="width:50%; padding:10px;border-radius:4px;" src="~/images/a1u1/a1u1-schema.png" alt="Schematic" title="Schematic" />
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>

<section style=" box-shadow: 0px -2px 4px #0098ff; border-bottom: 1px solid #007bff; "></section>




