
@{
    ViewBag.Title = "Act2U1";
}
<section class="fixed" style="z-index: 97; top: 0; border-bottom: 1px solid #000000ba; "></section>


<section class="page-title page-title1 section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="text-capitalize mb-0 text-lg">Activity 2</h1>
                    <br />
                    <h2>
                        Hand wash timer
                    </h2>
                </div>
            </div>

        </div>

    </div>


</section>
<div style="padding-top: 30px;display:flex;justify-content:center;">
    <iframe width="650" height="420" style="border: 2px solid #007bff; box-shadow: 0 0 15px #007bff; "
            src="https://www.youtube.com/embed/yZUaFwSpahU?controls=2&iv_load_policy=3&modestbranding=1&rel=0&showinfo=0&fs=0">
    </iframe>
</div>

<section class="section blog-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="single-post">
                    <img src="images/blog/01.jpg" alt="" class="img-fluid">

                    <div class="single-post-content mt-4">
                        <div class="post-meta mb-4">


                            <span class="date">June 2022</span>
                        </div>

                        <h3>A timer gadget to teach the people about washing the hands for twenty seconds.</h3>

                        <p>
                            This is a great project to teach the people the importance of cleanliness & washing hands properly in the current times.
                            This project turns the LED red when you start washing hands & will turn green once twenty seconds are complete thus reminding you to wash hands for twenty seconds & do not keep the water running while washing hands.
                        </p>
                        <h5>Materials required</h5>
                        <ul>
                            <li>Arduino UNO</li>
                            <li>Breadbord</li>
                            <li>RGB Led</li>
                            <li>IR sensor module</li>
                            <li>330 ohms resistor</li>
                            <li>Jumpers</li>
                        </ul>
                    </div>
                </article>

                <div class="comments bg-secondary p-4 mt-5">
                    <h4 class="mb-4">Functionality</h4>

                    <div class="latest-comments">
                        <p>
                            Wait for the photoresistor to receive light, and accordingly to the amount of it received, it will turn on both LED’s if there’s no light and will turn off one or two LED’s if there’s average or too
                            much light respectively.
                        </p>
                        <br />
                        <h4>Code</h4>
                        <div style="display:flex;justify-content:center;">
                            <img style="width:50%; padding:10px;border-radius:4px;" src="~/images/a2u1/a2u1-code.png" alt="Code" title="Code" />
                        </div>
                        <br />
                        <h4>Schematic</h4>
                        <div style="display:flex;justify-content:center;">
                            <img style="width:50%; padding:10px;border-radius:4px;" src="~/images/a2u1/a2u1-schema.png" alt="Schematic" title="Schematic" />
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
<section style=" box-shadow: 0px -2px 4px #0098ff; border-bottom: 1px solid #007bff; "></section>

