
@{
    ViewBag.Title = "Act3U1";
}
<section class="fixed" style="z-index: 97; top: 0; border-bottom: 1px solid #000000ba; "></section>

<section class="page-title page-title1 section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="text-capitalize mb-0 text-lg">Activity 3</h1>
                    <br />
                    <h2>
                        Memory game
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div style="padding-top: 30px;display:flex;justify-content:center;">
    <iframe width="650" height="420" style="border: 2px solid #007bff; box-shadow: 0 0 15px #007bff; "
            src="https://www.youtube.com/embed/xRU4EAKCA6Y?controls=2&iv_load_policy=3&modestbranding=1&rel=0&showinfo=0&fs=0">
    </iframe>
</div>

<section class="section blog-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="single-post">
                    <img src="images/blog/01.jpg" alt="" class="img-fluid">

                    <div class="single-post-content mt-4">
                        <div class="post-meta mb-4">


                            <span class="date">June 2022</span>
                        </div>

                        <h3>Arduino memory game</h3>

                        <p>It's a simple game to memorize a sequence of notes and repeat it. Each note is associated with a different color of led that lights when the note tones.</p>
                        <h5>Materials required</h5>
                        <ul>
                            <li>Arduino UNO</li>
                            <li>Breadbord</li>
                            <li>4 different color LED´s</li>
                            <li>10k ohms resistors</li>
                            <li>330 ohms resistors</li>
                            <li>Buzzer</li>
                            <li>Jumpers</li>
                        </ul>
                    </div>
                </article>

                <div class="comments bg-secondary p-4 mt-5">
                    <h4 class="mb-4">Functionality</h4>

                    <div class="latest-comments">
                        <p>
                            In the game, the Arduino generates a series of random LED flashes. 
                            The player must then press the buttons and repeat the sequence of flashes in the correct order.
                            If the player guesses incorrectly a buzzer sounds, the correct sequence is shown and the game starts again.
                        </p>
                        <br />
                        
                        <h4>Schematic</h4>
                        <div style="display:flex;justify-content:center;">
                            <img style="width:50%; padding:10px;border-radius:4px;" src="~/images/a3u1/a3u1-schema.png" alt="Schematic" title="Schematic" />
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
<section style=" box-shadow: 0px -2px 4px #0098ff; border-bottom: 1px solid #007bff; "></section>
