
@{
    ViewBag.Title = "Act3U2";
}
<section class="fixed" style="z-index: 97; top: 0; border-bottom: 1px solid #000000ba; "></section>

<section class="page-title page-title2 section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="text-capitalize mb-0 text-lg">Activity 3</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div style="padding-top: 30px;display:flex;justify-content:center;">
    <iframe width="650" height="420" style="border: 2px solid #ffd800; box-shadow: 0 0 15px #ffd800; "
            src="https://www.youtube.com/embed/bAbEg6E0BFI?controls=2&iv_load_policy=3&modestbranding=1&rel=0&showinfo=0&fs=0">
    </iframe>
</div>
<section class="section blog-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="single-post">
                    <img src="images/blog/01.jpg" alt="" class="img-fluid">

                    <div class="single-post-content mt-4">


                        <div class="post-meta mb-4">


                            <span class="date">June 2022</span>
                        </div>

                        <h3>Determine with a photoresistor if the room is bright, average, or dark and showing it with 3 LED’s.</h3>

                        <p>
                            We are going to use the photoresistor (used to indicate the presence or absence of light, or to measure the light intensity) to measure how much light is in a room and show it by turning on some LED’s. If it’s completely dark, it will turn on all the LED’s, if average light, it will
                            turn two of them, and if completely bright, it will turn off everything.
                        </p>
                        <h5>Materials required</h5>
                        <ul>
                            <li>Arduino UNO</li>
                            <li>Photoresistor</li>
                            <li>LED´s</li>
                            <li>1k ohms resistors</li>
                            <li>Jumpers</li>
                        </ul>

                    </div>
                </article>

                <div class="comments bg-secondary p-4 mt-5">
                    <h4 class="mb-4">Functionality</h4>

                    <div class="latest-comments">

                        <p>
                            Wait for the photoresistor to receive light, and accordingly to the amount of it received, it will turn on both LED’s if there’s no light and will turn off one or two LED’s if there’s average or too
                            much light respectively.
                        </p>
                        <br />
                        <h4>Code</h4>
                        <div style="display:flex;justify-content:center;">
                            <img style="width:50%; padding:10px;border-radius:4px;" src="~/images/a1u1/a1u1-code.png" alt="Code" title="Code" />
                        </div>
                        <br />
                        <h4>Schematic</h4>
                        <div style="display:flex;justify-content:center;">
                            <img style="width:50%; padding:10px;border-radius:4px;" src="~/images/a1u1/a1u1-schema.png" alt="Schematic" title="Schematic" />
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
<section style=" box-shadow: 0px -2px 4px #ffd800; border-bottom: 1px solid #ffd800; "></section>
