

@{
    ViewBag.Title = "RaU1";
}

<section class="page-title section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="text-capitalize mb-0 text-lg">Activity 1</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section blog-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="single-post">
                    <img src="images/blog/01.jpg" alt="" class="img-fluid">

                    <div class="single-post-content mt-4">
                        <div class="post-meta mb-4">


                            <span class="date">June 2022</span>
                        </div>

                        <h3>If you are starting off with a new domain name with no traffic so to speak of you.</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro odio aperiam nostrum sequi mollitia, sapiente eos aspernatur obcaecati molestias cupiditate autem, tempora dicta esse. Reprehenderit unde, maiores at expedita repellendus.</p>

                        <h5>Porro odio aperiam nostrum sequi mollitia, sapiente eos aspernatur obcaecati molestias cupiditate autem</h5>
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happinesso one rejects dislikes actual teachings of the great explorer of the truth the master-builder of human </p>


                    </div>
                </article>

                <div class="comments bg-secondary p-4 mt-5">
                    <h4 class="mb-4">Comments</h4>

                    <div class="latest-comments">
                        <ul class="list-unstyled">
                            <li>

                                <div class="media comments-box mb-45">
                                    <img src="images/blog/author1.jpg" alt="" class="img-fluid mr-3">
                                    <div class="comments-text media-body">
                                        <h5>John Doe</h5>
                                        <p>Maecenas fermentum consequat mi Donec fermentum Pelle maleuada nulla amiuis sapien sem aliquet nec commodo eget consequat </p>
                                        <a href="#" class="text-sm text-muted">Reply</a>

                                        <div class="media mt-4">
                                            <img src="images/blog/author2.jpg" alt="" class="img-fluid mr-3">
                                            <div class="media-body comments-text">
                                                <div class="avatar-name">
                                                    <h5>Jennifer S. Bowen</h5>
                                                </div>
                                                <p>Maecenas fermentum consequat mi Donec fermentum Pelle maleuada nulla amiuis sapien sem aliquet nec commodo eget </p>
                                                <a href="#" class="text-sm text-muted">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img src="images/blog/author1.jpg" alt="" class="img-fluid mr-3">
                                    <div class="media-body comments-text">
                                        <h5>Omar Elnagar</h5>
                                        <p>Maecenas fermentum consequat mi Donec fermentum Pelle maleuada nulla amiuis sapien sem aliquet nec commodo eget consequat </p>
                                        <a href="#" class="text-sm text-muted">Reply</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>

<section style=" box-shadow: 0px -2px 4px #0098ff; border-bottom: 1px solid #007bff; "></section>


